<!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Meme's of Saturn</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="#">Hot</a>
                  </li>
                  <li>
                      <a href="#">New</a>
                  </li>
                  <li>
                    <div *ngIf="!userService.isLoggedIn()">
                      <button (click)="login()" type="button" class="btn btn-default navbar-btn">Sign in</button>
                      <button (click)="register()" type="button" class="btn btn-default navbar-btn">Register</button>
                    </div>
                    <div *ngIf="userService.isLoggedIn()">
                      <button (click)="addMeme()" type="button" class="btn btn-default navbar-btn">Add Meme</button>
                      <button (click)="logout()" type="button" class="btn btn-default navbar-btn">Logout</button>
                    </div>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <router-outlet></router-outlet>
