<div class="container meme-container nav-padding">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <div
    	*ngFor="let meme of memes"
       class="row"
    >
      <div class="thumbnail">
        <h3>{{meme.caption}}</h3>
    	  <img class="meme" height="300px" src="http://localhost:3000{{meme.file.relativePath}}" alt="...">
        <div class="social-buttons">
          <div ceiboShare [facebook]="{u: getShareURL(meme._id)}" class="btn btn-facebook clearfix">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            Share
          </div>
          <div ceiboShare [twitter]="{url: getShareURL(meme._id)}" class="btn btn-twitter clearfix">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Share
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
